<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TinyApp: Login</title>
</head>
<body>
  <h1>Login into TinyApp</h1>
  <form method="POST" action="/login">
    <label>Email</label>
    <input
      name="email"
      placeholder="Email adress"
      type="email"
    >
    <label>Password</label>
    <input
      name="password"
      placeholder="Password"
      type="password"
    >
    <button type="submit">Login</button>
  </form>
</body>
</html>